:root {
  --white: #fff;
  --primary: #58016b;
  --riplePrimary: #58018b;
  --dark: #000;
  --danger: #e61e1e;
  --gray: #8f8c8c;
  --darkPrimary: #36033b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
body {
  background: #fff;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  margin-left: 40px;
}

.card {
  padding: 5px 10px;
  /* background-color: var(--gray); */
  margin: 10px 0;
  box-shadow: 1px 1px 1px var(--gray);
}

.card h2 {
  color: var(--dark);
  padding: 5px 0;
}

.home {
  margin-top: 20px;
}
.class-stat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20;
}

.home .card {
}
